[submodule "uci"]
	path = uci
	url = https://github.com/oskarirauta/uci_cpp.git
[submodule "logger"]
	path = logger
	url = https://github.com/oskarirauta/logger_cpp.git
[submodule "usage"]
	path = usage
	url = https://github.com/oskarirauta/usage_cpp.git
[submodule "netlink"]
	path = netlink
	url = https://github.com/oskarirauta/netlink_cpp.git
[submodule "common"]
	path = common
	url = https://github.com/oskarirauta/common_cpp.git
[submodule "tsl"]
	path = tsl
	url = https://github.com/Tessil/ordered-map
[submodule "rva"]
	path = rva
	url = https://github.com/codeinred/recursive-variant
[submodule "ubus"]
	path = ubus
	url = https://github.com/oskarirauta/ubus_cpp.git
[submodule "json"]
	path = json
	url = https://github.com/oskarirauta/json_cpp.git
